.shareButton {
	background: none;
	border: none;
	font-size: 1.6em;
	cursor: pointer;
	color: var(--main-text);
	transition: color 0.2s;
}

.shareButton {
	height: 20px;
	display: flex;
	align-items: center;
}

.shareButton g {
	transition: var(--main-transition);
}

.shareButton:hover g {
	fill: var(--active-color);
}

.shareImg {
	width: 20px;
	height: 20px;
	margin-right: 0.4em;
}

.shareImg g {
	fill: var(--main-text);
}

.shareButton:hover {
	color: #2e1b5f;
}
