.info__usertag {
	margin-right: 1em;
	position: relative;
    font-size: 1.6em;
	font-weight: 800;
    color: #666;
}

.copyImg {
	top: -2px;
	position: absolute;
	margin-left: 0.3em;
	width: auto;
	height: 1.5em;
	cursor: pointer;
}

.copyImg g {
	fill: rgb(102, 102, 102);
	transition: var(--main-transition);
}

.copyImg:hover g {
	fill: var(--active-color);
}
