main.gallery {
	color: #121212;
	font-size: 10px;
}

.gallery__container {
	max-width: 1200px;
	margin: 2rem auto;
	padding: 0 1rem;
}

@media (max-width: 655px) {
	.gallery__container {
		max-width: 400px;
	}
}

@media (max-width: 355px) {
	.gallery__container {
		padding: 0;
	}
}
