.contactSection {
	display: flex;
	flex-direction: column;
	padding: 0 2em;
	margin-top: 2em;
	font-size: 10px;

	.contactTitle {
		font-size: 4em;
	}
	
	.contactSubtitle {
		font-size: 2em;
	}
}

@media (min-width: 800px) {
	.contactSection {
		padding: 0 4em;

		.contactTitle {
			font-size: 4.4em;
		}
		
		.contactSubtitle {
			font-size: 2.7em;
		}
	}
}

@media (min-width: 900px) {
	.contactSection {
		max-width: 900px;
		width: 100%;
		margin: 3em auto;
	}
}