.info__buttons {
    margin: 15px 0;
    display: flex;
    gap: 10px;
}

.info__buttonsOwn {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 10px;
    margin: 15px 0;
    justify-items: start;
}

.info__buttonsItem {
    background-color: #ccc;
    color: #333;
    font-size: 1.4em;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition:
        var(--main-transition),
        padding 0s;
}

.info__buttonsItem:hover {
    box-shadow: 0 4px 8px rgba(42, 64, 102, 0.3);
    transform: scale(1.05);
}

.info__addPostBtn {
    justify-self: stretch;
}

.info__addPostBtn:hover {
    background-color: var(--active-color);
    color: #fff;
}

.info__manageAlbumsBtn {
    justify-self: stretch;
}

.info__manageAlbumsBtn:hover {
    background-color: var(--active-color);
    color: #fff;
}

.info__editProfileBtn {
    background-color: var(--active-color);
    color: #fff;
}

.info__editProfileBtn:hover {
    background-color: var(--active-hover);
}

.info__settingsBtn {
    color: white;
    background-color: var(--active-color);
}

.info__settingsBtn:hover {
    background-color: var(--active-hover);
}

.info__subscribeBtn {
    background-color: var(--active-color);
    color: #fff;
}

.info__unscribeBtn {
    padding: 8px 20px 8px 19px;
    background-color: #a52a2a;
    color: #fff;
}

.info__messageBtn:hover {
    color: white;
    background-color: var(--active-color);
}

@media (max-width: 1430px) {
    .info__buttonsItem {
        font-size: 1.3em;
    }

    .info__settingsBtn {
        justify-self: stretch;
    }
}

@media (max-width: 1300px) {
    .info__buttons {
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .info__buttonsOwn {
        grid-template-columns: repeat(2, max-content);
    }

    .info__buttons {
        min-width: 250px;
    }

    .info__buttonsItem {
        font-size: 1.4em;
    }

    .info__subscribeBtn {
        width: 50%;
        text-align: center;
    }

    .info__messageBtn {
        width: 50%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .info__buttonsOwn {
        grid-template-columns: repeat(1, max-content);
    }
}
