{
  "Servers": {
    "1": {
      "Name": "VibeArt",
      "Group": "Servers",
      "Host": "postgres",
      "Port": 5432,
      "MaintenanceDB": "${DB_NAME}",
      "Username": "${DB_USERNAME}",
      "SSLMode": "prefer"
    }
  }
}
