.adminList {
	margin-top: 1em;
	margin-bottom: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	row-gap: 1em;
}

.adminItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;

	.adminImg {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		transition: var(--main-transition);
	}

	.adminName {
		font-size: 1.4em;
		text-align: center;
		transition: var(--main-transition);
	}
}

.adminItem:hover {

	.adminName {
		color: var(--active-hover);
		transform: scale(1.02);
		text-shadow: 1px 1px 3px rgba(42, 64, 102, .2);
	}

	.adminImg {
		box-shadow: 0 0 15px var(--active-hover);
	}
}

@media (min-width: 400px) {
	.adminItem {
		.adminName {
			font-size: 1.8em;
		}

		.adminImg {
			width: 100px;
			height: 100px;
		}
	}
}

@media (min-width: 550px) {
	.adminList {
		gap: 3em;
	}

	.adminItem {
		.adminName {
			font-size: 2em;
		}

		.adminImg {
			width: 130px;
			height: 130px;
		}
	}
}

@media (min-width: 700px) {
	.adminList {
		gap: 1.5em;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

@media (min-width: 1000px) {
	.adminList {
		gap: 1em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}
