.selectWrapper {
	left: 38%;
	position: absolute;
	border: 1px solid #a0a0a0;
	border-radius: 12px;

	.selectButton {
		display: flex;
		padding: 0.5em;
		gap: .5rem;

		.currentValue {
			width: 19px;
		}

		.arrow {
			font-size: 1.2em;
		}
	}

	.options {
		width: 100%;
		background-color: rgb(230, 230, 230);
		position: absolute;
		flex-direction: column;
		display: flex;
		height: 0;
		opacity: 0;
		pointer-events: none;
		padding: 0.5em;
		gap: .25rem;
		border: 1px solid #a0a0a0;
		border-radius: 12px;
		transition: var(--main-transition);

		&.open {
			opacity: 1;
			pointer-events: all;

			.option {
				display: block;
			}
		}

		.option {
			aspect-ratio: 3 / 2;
			width: 100%;
			height: auto;
			display: none;
			align-self: center;
			cursor: pointer;
		}
	}
}

@media (max-width: 1900px) {
	.selectWrapper {
		left: 37%;
	}
}

@media (max-width: 1680px) {
	.selectWrapper {
		left: 35%;
	}
}

@media (max-width: 1480px) {
	.selectWrapper {
		left: 32%;
	}
}

@media (max-width: 1200px) {
	.selectWrapper {
		left: 25%;
	}
}

@media (max-width: 1050px) {
	.selectWrapper {
		left: 20%;
	}
}

@media (max-width: 870px) {
	.selectWrapper {
		left: 20%;
		border-radius: 8px;

		.selectButton {
			display: flex;
			
			padding: 0.5em 0.4em;
			gap: .2rem;
	
			.currentValue {
				width: 16px;
			}
	
			.arrow {
				font-size: 0.8em;
			}
		}

		.options {
			border-radius: 8px;
		}
	}
}

@media (max-width: 870px) {
	.selectWrapper {
		left: 25%;
	}
}

@media (max-width: 730px) {
	.selectWrapper {
		left: 22%;
	}
}

@media (max-width: 640px) {
	.selectWrapper {
		left: 18%;
	}
}

@media (max-width: 540px) {
	.selectWrapper {
		left: 15%;
	}
}

@media (max-width: 480px) {
	.selectWrapper {
		position: relative;
		left: auto;
	}
}
