.header__form {
    display: flex;
    align-items: center;
    width: 300px;
}

.header__search {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    border-right: none;
    transition: var(--main-transition);
}

.header__search:hover {
    border-color: var(--active-color);
    background-color: #f9f9f9;
}

.header__search:focus {
    border-color: var(--active-hover);
}

.header__search:focus {
    border-color: var(--active-hover);
}

.header__search:focus + .header__submit {
    background-color: var(--active-hover);
}

.header__search::placeholder {
    user-select: none;
}

.header__search:focus::placeholder {
    font-size: 0;
}

.header__submit {
    padding: 4px 10px 4px 6px;
    height: 34px;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--active-color);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: var(--main-transition);
}

.header__submit:hover {
    background-color: var(--active-hover);
}

.header__submit:focus {
    background-color: var(--active-hover);
}

.header__submitImg {
    height: 100%;
}

@media (max-width: 820px) {
    .header__form {
        width: 200px;
    }

    .header__search {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .header__search {
        font-size: 11px;
        width: 145px;
        padding: 6px 10px;
    }

    .header__submit {
        height: 27px;
        padding: 3px 8px 3px 3px;
    }

    .header__form {
        width: 175px;
    }
}
