footer {
    background-color: #333;
    color: #fff;
	padding: 20px 20px;
    text-align: center;
}

.footer__wrapper {
    display: flex;
	width: 100%;
	height: 40px;
    justify-content: space-between;
    align-items: center;
}

/* Лево */

.footer__logo {
	display: flex;
	align-items: center;
	transition: var(--main-transition);
}

.footer__logo:hover {
	transform: scale(1.02);
	color: var(--active-color);
}

.footer__logoImg {
    height: 30px;
    margin-right: 10px;
}

/* Право */

.footer__socials {
	display: flex;
	transform: translateY(3px);
}

@media (max-width: 768px) {
	.footer__wrapper {
		height: auto;
		flex-direction: column;
		gap: 20px;
	}
}

@media (max-width: 480px) {
	.footer__wrapper {
        flex-direction: column;
        gap: 15px;
    }

	.footer__logoImg {
		height: 20px;
	}

	.footer__title {
		font-size: 12px;
	}

    .socialsLink {
        margin: 0 8px;
    }
}