.commentButton {
	display: flex;
	align-items: center;
	padding: 5px;
	background: none;
	border: none;
	font-size: 1.6em;
	cursor: pointer;
	color: #666;
	transition: color 0.2s;
	transition: var(--main-transition);
}

.commentImg {
	margin-right: 0.25em;
	transition: var(--main-transition);
}

.commentButton:hover .commentImg path {
	stroke: var(--active-hover);
	box-shadow: 0 2px 4px rgba(42, 64, 102, 0.3);
}

.commentImg path {
	transition: var(--main-transition);
    stroke: var(--main-text);
}
