.chat__form {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
    background: #fafafa;
}

.chat__formInput {
    width: 95%;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    transition: var(--main-transition);
}

.chat__formInput:focus {
    border-color: var(--active-hover);
}

.chat__formInput:focus::placeholder {
    font-size: 0;
}

.chat__formSend {
    width: 5%;
    min-width: 40px;
    margin-left: 10px;
    padding: 10px 20px;
    background: url("shared/icons/send-message.svg") #1976d2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

.chat__formSend:hover {
    filter: drop-shadow(0 0 6px #1976d2);
}
