.communitiesList {
	display: grid;
	grid-template-columns: repeat(1, minmax(300px, 1fr));
	gap: 1em;
	margin-bottom: 1em;
}

@media (min-width: 600px) {
	.communitiesList {
		gap: 1.5em;
		margin-bottom: 1.5em;
	}
}

@media (min-width: 900px) {
	.communitiesList {
		grid-template-columns: repeat(2, minmax(300px, 1fr));
	}
}
