.contactForm {
	margin-top: 1em;
	gap: .3em;
	display: flex;
	flex-direction: column;

	.inputWrapper {
		display: flex;
		position: relative;

		div {
			width: 100%;
		}

		.contactInputErrorText {
			position: absolute;
			padding-left: 1em;
			font-size: 1.2em;
			bottom: 1%;
			left: 0;
			color: red;
		}

		.contactErrorInputPlaceholder {
			color: rgb(145, 0, 0);
		}

		.contactErrorInput {
			border: 2px solid red;
		}

		.contactErrorInput:focus {
			border: 2px solid rgb(145, 0, 0);
		}

		.contactErrorInputIcon {
			display: none;
			position: absolute;
			left: 101%;
			top: 20%;
			stroke: red;
			width: 25px;
			height: 25px;
		}
	}

	.formTextArea {
		padding: .75em .625em;
		font-size: 1.6em;
		margin-bottom: 1.2em;
		border-radius: .5em;
		border: .125em solid #ccc;
		transition: var(--main-transition);
		resize: vertical;
		min-height: 18.750em;
		width: 100%;
	}

	.formTextArea ~ .contactErrorInputIcon {
		top: 7%;
	}

	.formTextArea + .contactInputErrorText {
		bottom: 1.5%;
	}
	
	.formTextArea:focus {
		transition: var(--main-transition);
		outline: none;
		border: .125em solid black;
	}
	
	.formTextArea:focus::placeholder {
		font-size: 0;
	}

	.ErrorTextArea:focus {
		border: 2px solid rgb(145, 0, 0);
	}
	
	.ErrorTextArea {
		border: 2px solid red;
	}

	.ErrorTextArea::placeholder {
		color: rgb(145, 0, 0);
	}
	
	.formSubmit {
		font-size: 1.6em;
		padding: 0.7em 1.5em;
		border-radius: .5em;
		border: 0;
		background-color: var(--active-color);
		color: white;
		align-self: start;
		transition: var(--main-transition);
		cursor: pointer;
	}
	
	.formSubmit:hover {
		background-color: var(--active-hover);
	}
}

@media (min-width: 400px) {
	.contactForm {
		.formTextArea {
			min-height: 12em;
		}
	}
}

@media (min-width: 550px) {
	.contactForm {
		.formTextArea {
			min-height: 9em;
		}

		.formSubmit {
			font-size: 2em;
		}
	}
}

@media (min-width: 800px) {
	.contactForm {
		gap: 0.5em;

		.inputWrapper {
			.contactInputErrorText {
				padding-left: 1em;
				font-size: 1.4em;
				bottom: -0.15em;
			}
		}

		.formTextArea {
			min-height: 9em;
		}

		.formTextArea + .contactInputErrorText {
			bottom: 3%;
		}

		.contactInputForm {
			font-size: 2em;
		}

		.contactPlaceholderForm {
			font-size: 2em;
		}

		.formTextArea {
			padding: .6em .5em;
			font-size: 2em;
		}
	}
}

@media (min-width: 900px) {
	.contactForm {
		.inputWrapper {
			.contactErrorInputIcon {
				display: block;
			}
		}
	}
}
