.communitiesContainerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
	font-size: 10px;
}

.communitiesTitle {
    color: var(--main-text);
    font-size: 1.8em;
	flex-grow: 1;
}

@media (min-width: 360px) {
	.communitySearchWrapper {
		flex-basis: 50%;
	}
}

@media (min-width: 400px) {
	.communitiesTitle {
		font-size: 2.2em;
	}
}

@media (min-width: 500px) {
	.communitiesTitle {
		font-size: 3em;
	}
}

@media (min-width: 600px) {
	.communitiesContainerTop {
		margin-bottom: 1.5em;
	}

	.communitiesTitle {
		font-size: 3.6em;
	}
}
