main.error {
	margin-top: 70px;
	padding: 20px;
}

.error__inner {
	margin: 25px 40px;
	display: flex;
	flex-direction: column;
}

.error__title {
	color: var(--active-color);
	font-size: 28px;
}

.error__text {
	margin-top: 20px;
	font-size: 20px;
}