.communityBottom {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.descriptionWrapper {
	font-size: 10px;
	padding: 0 .5em;
	margin-top: 0.3em;

	.descriptionTitle {
		font-size: 2em;
	}
	
	.descriptionText {
		font-size: 1.6em;
	}

	.moreButton {
		font-size: 1.4em;
		padding: 0.5em 1.5em;
		background-color: var(--active-color);
		color: white;
		border-radius: .6em;
		text-align: center;
		margin: .5em auto .8em;
		transition: var(--main-transition);
	}

	.moreButton:hover {
		background-color: var(--active-hover);
	}
}

.adminsWrapper {
	font-size: 10px;
	padding: 0 .5em;
	margin-top: 1em;

	.adminsTitle {
		font-size: 2em;
	}
}

.adminsWrapper + div {
	padding: 0 .5em;
}

.adminsWrapper + div + div {
	padding: 0 .5em;
}

.communityAbout {
	display: none;
	padding: 0 .5em;

	.aboutTitle {
		font-size: 2em;
	}

	.createdAt {
		margin-top: .3em;
		margin-bottom: .5em;
		font-size: 2.2em;
	}
}

@media (min-width: 400px) {
	.descriptionWrapper {
		padding: 0 1.5em;

		.descriptionTitle {
			font-size: 2.4em;
		}

		.descriptionText {
			font-size: 2em;
			margin-top: 0.2em;
		}
	}

	.adminsWrapper {
		padding: 0 1.5em;
	
		.adminsTitle {
			font-size: 2.4em;
		}
	}

	.adminsWrapper + div {
		padding: 0 0.9em;
	}
	
	.adminsWrapper + div + div {
		padding: 0 0.9em;
	}
}

@media (min-width: 500px) {
	.descriptionWrapper {
		.moreButton {
			margin: 1em auto;
			font-size: 1.8em;
		}
	}
}

@media (min-width: 550px) {
	.descriptionWrapper {
		.descriptionTitle {
			font-size: 3em;
		}

		.descriptionText {
			font-size: 2em;
			margin-top: 0.2em;
		}
	}

	.adminsWrapper {	
		.adminsTitle {
			font-size: 3em;
		}
	}
}

@media (min-width: 700px) {
	.descriptionWrapper {
		.descriptionTitle {
			font-size: 3.4em;
		}

		.descriptionText {
			font-size: 2.8em;
			margin-top: 0.1em;
		}

		.moreButton {
			font-size: 2.6em;
		}
	}

	.adminsWrapper {	
		.adminsTitle {
			font-size: 3.4em;
		}
	}
}

@media (min-width: 750px) {
	.descriptionWrapper {
		padding: 0 3em;

		.descriptionTitle {
			font-size: 3em;
		}

		.descriptionText {
			font-size: 2.4em;
			margin-top: 0.1em;
		}
	}

	.adminsWrapper {	
		padding: 0 3em;

		.adminsTitle {
			font-size: 3em;
		}
	}

	.adminsWrapper + div {
		padding: 0 1.9em;
	}
	
	.adminsWrapper + div + div {
		padding: 0 1.9em;
	}
}

@media (min-width: 1000px) {
	.communityBottom {
		display: flex;
		margin-top: 2em;
	}

	.descriptionWrapper {
		.descriptionTitle {
			font-size: 4.2em;
		}

		.descriptionText {
			font-size: 3.2em;
			margin-top: 0.3em;
		}

		.moreButton {
			display: none;
		}
	}

	.adminsWrapper {
		.adminsTitle {
			font-size: 4.2em;
		}
	}

	.communityMain {
		min-width: 0;
	}

	.communityAbout {
		display: block;
		flex-shrink: 0;
		flex-basis: 300px;
		font-size: 10px;

		.aboutTitle {
			font-size: 3.6em;
		}

		.aboutSubtitle {
			font-size: 2.8em;
		}
		
		.tagsTitle {
			margin-top: 0.3em;
			font-size: 2.8em;
			margin-bottom: .3em;
		}

		.aboutSubtitle + ul + ul li {
			
		}
	}
}
