.inputWrapper {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border var(--main-transition);
}

.inputLeft {
    width: 87%;
    padding: 12px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    font-size: 16px;
    transition: border var(--main-transition);
}

.inputRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    padding: 6px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: border var(--main-transition);
}

.inputButtonShow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.inputButtonHide {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.placeholder {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 16px;
    color: var(--placeholder-color);
    transition: var(--main-transition);
    user-select: none;
    cursor: text;
}

.input:focus {
    padding: 15px 10px 9px;
    border: 2px solid black;
    outline: none;
}

.inputLeft:focus {
    padding: 15px 10px 9px;
    border: 2px solid black;
    border-right: 0;
    outline: none;
}

.input:focus ~ .placeholder {
    font-size: 10px;
    transform: translateY(-8px);
}

.inputLeft:focus ~ .placeholder {
    font-size: 10px;
    transform: translateY(-8px);
}

.inputLeft:focus ~ .inputRight {
    border: 2px solid black;
    border-left: 0;
}

.input.focus {
    padding: 15px 10px 9px;
}

.inputLeft.focus {
    padding: 15px 10px 9px;
}

.placeholder.focus {
    font-size: 10px !important;
    transform: translateY(-8px) !important;
}

@media (max-width: 450px) {
    .inputLeft {
        width: 80%;
    }

    .inputRight {
        width: 20%;
    }
}
