.info {
    float: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--background-el);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: var(--main-transition);
}

.info__avatar {
    align-self: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.info__username {
    font-size: 2.4em;
    margin-bottom: 5px;
}

.info__description {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.info__stats {
    font-size: 1.2em;
    color: #666;
}

.statsSubscribers {
    cursor: help;
}

.statsSubscribes {
    cursor: help;
}

.statsWorks {
    cursor: help;
}

@media (max-width: 1800px) {
    .info {
        width: 25%;
    }

    .info__description {
        text-align: justify;
    }
}

@media (max-width: 1420px) {
    .info {
        width: 28%;
    }
}

@media (max-width: 1200px) {
    .info {
        width: 50%;
        align-items: center;
    }

    .info__username {
        text-align: center;
    }

    .info__description {
        text-align: center;
    }

    .info__stats {
        display: inline;
        flex-direction: row;
    }

    .spliter {
        display: inline;
    }
}

@media (max-width: 1100px) {
    .info {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .info {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .info__description {
        font-size: 1.2em;
    }

    .info__username {
        font-size: 2em;
    }

    .info__stats {
        font-size: 1.2em;
    }
}
