.error__inner {
	margin: 25px 40px;
	display: flex;
	flex-direction: column;
}

.error__title {
	color: var(--active-color);
	font-size: 28px;
}

.error__text {
	margin-top: 20px;
	font-size: 20px;
}

@media (max-width: 768px) {
	.error__inner {
		margin: 25px 20px;
	}

	.error__title {
		font-size: 20px;
	}

	.error__text {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.error__text {
		text-align: justify;
	}
}

@media (max-width: 400px) {
	.error__title {
		font-size: 18px;
	}

	.error__text {
		font-size: 14px;
	}
}

@media (max-width: 350px) {
	.error__title {
		font-size: 17px;
	}

	.error__text {
		font-size: 14px;
	}
}