.chat__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: calc(100vh - 180px);
    background: white;
    border: 1px solid #ddd;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
}

.chat__user {
    font-size: 1.6em;
    flex-grow: 1;
    max-width: 85%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat__userAvatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chat__userInfo {
    flex-grow: 1;
    width: 100%;
    min-width: 0;
}

.chat__userName {
    display: block;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chat__userOnlineStatus {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #d32f2f;
    user-select: none;
}

.chat__userOnlineStatus::before {
    content: "";
    display: block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #d31e1e;
}

.chat__userOnlineStatus.online {
    color: green;
}

.chat__userOnlineStatus.online::before {
    content: "";
    display: block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    margin-right: 4px;
    background-color: green;
}

.chat__messages {
    flex-grow: 10;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat__messagesTitle {
    font-weight: 500;
    font-size: 16px;
    align-self: center;
    margin: auto 0;
    user-select: none;
}

.newMessageAnim {
    animation: newMessage 0.15s linear;
}

.chat__messages::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: var(--main-transition);
}

/* Фон скроллбара */
.chat__messages::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

/* Ползунок */
.chat__messages::-webkit-scrollbar-thumb {
    background: #bdc1c6;
    border-radius: 4px;
}

/* Ползунок при наведении */
.chat__messages::-webkit-scrollbar-thumb:hover {
    background: #85888b;
}

.chat__messageWrapper {
    display: flex;
    flex-direction: column;
}

.chat__messageBr {
    font-size: 1.6em;
    padding: 5px 10px;
    background-color: #f0f0f0;
    align-self: center;
    border-radius: 10px;
    margin: 20px 0;
    user-select: none;
}

.chat__messageBr.hide {
    display: none;
}

@keyframes newMessage {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 700px) {
    .chat__userName {
        font-size: 0.85em;
    }
}

@media (max-width: 500px) {
    .chat__message-br {
        font-size: 1.4em;
    }

    .chat__user {
        font-size: 1.4em;
    }
}

@media (max-width: 400px) {
    .chat__userName {
        font-size: 0.7em;
    }

    .chat__userOnlineStatus {
        font-size: 0.7em;
    }
}
