.notification__item {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 1rem 1.25rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    transition: var(--main-transition) ease;
    border: 1px solid transparent;
}

.notification__item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 0 10px var(--active-hover);
}

.link {
    transition: var(--main-transition);
}

.notification__item:hover .link {
    text-decoration: underline;
    color: var(--active-hover);
}

.notification__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    object-fit: cover;
}

.notification__content {
    flex: 1;
}

.notification__text {
    margin: 0;
    font-size: 1.6em;
}

.notification__date {
    font-size: 1.4em;
    color: #888;
    margin-top: 0.25rem;
}

.bold {
    font-weight: 800;
}

@media (max-width: 1024px) {
    .link {
        text-decoration: underline;
        color: var(--active-color);
    }
}

@media (max-width: 480px) {
    .notification__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .notification__avatar {
        width: 100px;
        height: 100px;
    }
}
