.likeButton {
	background: none;
	border: none;
	font-size: 1.6em;
	cursor: pointer;
	color: var(--main-text);
	transition: color 0.2s;
}

.likeButton {
	display: flex;
	align-items: center;
	transition: var(--main-transition);
}

.likeImg {
	margin-right: 0.4em;
	transition: var(--main-transition);
}

.likeImg > path {
	transition: var(--main-transition);
}

.likeButton:hover .likeImg > path {
	stroke: var(--like-color);
}

.likeActive {
	fill: var(--like-color);
	animation: bounce 0.25s ease-out;
}

.likeActive > path {
	stroke: var(--like-color);
}

.likeButton:hover {
	color: #2e1b5f;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
