.post__tags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    margin-bottom: 1.6em;
}

.post__tag {
    background-color: #e4d5f9;
    color: #4b2e83;
    padding: 0.3em 0.8em;
    border-radius: 20px;
    font-size: 1.44em;
    cursor: pointer;
    transition: var(--main-transition);
}

.post__tag:hover {
    color: #e4d5f9;
    background-color: #5e3aa5;
}
