.item {
	display: flex;
	gap: 1em;
	background-color: var(--background-el);
	padding: 0.8em 0.8em;
	border-radius: 0.8em;
	min-height: 150px;
	box-shadow: 0 0 0.1em rgb(114, 114, 114);
}

.itemImg {
	height: 80px;
	overflow: hidden;
	object-fit: cover;
	flex-shrink: 0;
	flex-basis: 28%;
	border-radius: 1em;
}

.itemInfo {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	max-width: 70%;
}

.itemTitle {
	font-size: 1.8em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.itemDescription {
	margin-top: 0.3em;
	font-size: 1.2em;
}

.itemBottom {
	color: var(--main-text);
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.itemLink {
	background-color: var(--active-color);
	color: white;
	border-radius: 0.6em;
	padding: 0.5em 1.5em;
	font-size: 1.2em;
	transition: var(--main-transition);
}

.itemLink:hover {
	background-color: var(--active-hover);
}

@media (min-width: 400px) {
	.itemImg {
		height: 100px;
	}
}

@media (min-width: 500px) {
	.item {
		min-height: 200px;
		gap: 1.5em;
		padding: 1.5em 1.5em;
	}

	.itemTitle {
		font-size: 3em;
	}

	.itemDescription {
		margin-top: 0.4em;
		font-size: 1.8em;
	}

	.itemImg {
		height: 130px;
	}

	.itemMembers {
		font-size: 1.6em;
	}

	.itemLink {
		font-size: 1.8em;
	}
}

@media (min-width: 600px) {
	.item {
		min-height: 250px;
	}

	.itemImg {
		height: 160px;
	}
}

@media (min-width: 700px) {
	.item {
		min-height: 300px;
	}

	.itemImg {
		height: 190px;
	}

	.itemTitle {
		font-size: 3.6em;
	}

	.itemDescription {
		margin-top: 0.4em;
		font-size: 2.2em;
	}

	.itemMembers {
		font-size: 2.2em;
	}

	.itemLink {
		font-size: 2.2em;
	}
}

@media (min-width: 800px) {
	.item {
		min-height: 320px;
	}

	.itemImg {
		height: 210px;
	}
}

@media (min-width: 900px) {
	.item {
		min-height: 220px;
	}

	.itemImg {
		height: 120px;
	}

	.itemTitle {
		font-size: 2.4em;
	}

	.itemDescription {
		margin-top: 0.4em;
		font-size: 2em;
	}

	.itemMembers {
		font-size: 1.6em;
	}

	.itemLink {
		font-size: 1.6em;
	}
}
