main.post {
	min-height: calc(100vh - 80px);
	background-color: var(--background);
	padding: 90px 0 25px;
	max-width: 800px;
	width: 80%;
	font-size: 10px;
	margin: 0 auto;
}

@media (max-width: 900px) {
	main.post {
		width: 90%;
	}
}

@media (max-width: 768px) {
	main.post {
		min-height: calc(100vh - 161px);
	}
}

@media (max-width: 480px) {
	main.post {
		min-height: calc(100vh - 136px);
	}
}
