.notice {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 25%;
    height: 100px;
    padding: 15px 20px;
    background: linear-gradient(135deg, #ffffff, rgba(0, 123, 255, 0.8));
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.8);
    border: 1px solid #007bff;
    border-radius: 25px;
    opacity: 0;
    transition: var(--main-transition);
    z-index: 999;
}

.notice__text {
    font-size: 20px;
    color: #333;
}

.noticeShow {
    display: block;
    animation: show 9s;
    transition: var(--main-transition);
}

.noticeHide {
    display: block;
    animation: hide 1s;
    transition: var(--main-transition);
}

@keyframes show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    .notice {
        width: 30%;
    }
}

@media (max-width: 1000px) {
    .notice {
        width: 40%;
    }
}

@media (max-width: 800px) {
    .notice__text {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .notice {
        padding: 10px 15px;
        width: 50%;
        left: 25%;
        top: 25px;
        height: 75px;
    }
}

@media (max-width: 350px) {
    .notice {
        width: 75%;
        left: 12.5%;
    }
}
