.communitySearchWrapper {
	position: relative;
	display: flex;
	flex-grow: 0;
	flex-basis: 45%;
	min-height: 31px;

    .search {
        width: 0;
		border: 0;
		border-bottom-left-radius: 0.5em;
		border-top-left-radius: 0.5em;
		transition: 0.3s;
    }

	.search:focus {
        outline: none;
		border-color: #313131;
    }
	
	.label {
		display: none;
		position: absolute;
		top: 0;
		left: 6%;
		color: var(--placeholder-color);
	}

	.search:focus ~ .label {
        color: var(--main-text);
    }

	.clearSearch {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 26%;
		top: 11%;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 2em;
		color: var(--main-text);
		transition: 0.3s cubic-bezier(0, 0.8, 0.9, 1);
	}

	.open {
		width: 75%;
		border: 0.1em solid #ccc;
		padding-top: 0.3em;
		padding-left: 0.5em;
		padding-right: 1.5em;
	}

	.open ~ .searchButton {
		width: 25%;
		padding: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		background: url("shared/icons/send-message.svg") #1976d2;
		background-repeat: no-repeat;
    	background-size: 100% 100%;
	}

	.open ~ .label {
		display: block;
	}

	.open ~ .clearSearch {
		pointer-events: visible;
		opacity: 1;
		animation: fastShow 0.3s linear;
	}

	@keyframes fastShow {
		0% {
			opacity: 0;
		}

		60% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

    .searchButton {
		width: 100%;
        padding: 0.5em 1em;
        background-color: var(--active-color);
        color: white;
        font-size: 1.4em;
        border-radius: 0.5em;
        border: 0;
        transition: 0.3s all;
		transition-timing-function: ease;
		cursor: pointer;
    }

    .searchButton:hover {
        background-color: var(--active-hover);
    }
}

@media (min-width: 360px) {
	.communitySearchWrapper {
		flex-basis: 50%;
	}
}

@media (min-width: 400px) {
	.communitySearchWrapper {
		flex-basis: 45%;
	}
}

@media (min-width: 500px) {
	.communitySearchWrapper {
		flex-basis: 220px;
		min-height: 40px;

		.search {
			border-bottom-left-radius: 0.8em;
			border-top-left-radius: 0.8em;
		}

		.searchButton {
			font-size: 1.8em;
		}

		.open {
			width: 82%;
			padding-left: 0.8em;
			padding-right: 2em;
		}

		.open ~ .searchButton {
			width: 18%;
		}

		.label {
			top: 5%;
			left: 5%;
			font-size: 1.2em;
		}

		.clearSearch {
			right: 19%;
			top: 12%;
			font-size: 2.4em;
		}
	}
}
