.messages__list {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    overflow: hidden;
}

@media (max-width: 600px) {
    .messages__list {
        margin-top: 0;
    }
}
