.arrowImg {
	background-color: var(--active-color);
	border-radius: 8px;
	width: 30px;
	height: 32px;
	cursor: pointer;
	z-index: 1;
}

.arrowImg:hover {
	background-color: var(--active-hover);
	transform: scale(1.05);
	transition: var(--main-transition);
	box-shadow: 0 0 10px rgba(42, 64, 102, 0.3);
}

.arrowImg g {
	fill: white;
}

/* .arrowImg {
	top: 0;
	position: absolute;
	background-color: var(--background-el);
	border-radius: 8px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1;
}

.arrowImg:hover {
	background-color: var(--active-color);
	transform: scale(1.05);
	transition: var(--main-transition);
	box-shadow: 0 0 10px rgba(42, 64, 102, 0.3);
}

.arrowImg g {
	fill: black;
	transition: var(--main-transition);
}

.arrowImg:hover g {
	fill: white;
} */

.arrowImgLeft {
	left: 0;
	padding: 5px 5px 5px 3px;
}

.arrowImgRight {
	right: 0;
	padding: 5px 3px 5px 5px;
}