.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-grow: 1;
    padding: 65px 40px 0;
    background: linear-gradient(to right, #cbf4fa, #ffffff);
}

.welcome__title {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.welcome__description {
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.welcome__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1000px) {
    .welcome__title {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .welcome__description {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    main.home {
        font-size: 9px;
    }

    .welcome__button {
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {
    main.home {
        min-height: calc(100vh - 161px);
    }

    .welcome__title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .welcome__description {
        font-size: 1rem;
        margin-bottom: 40px;
    }
}

@media (max-width: 700px) {
    main.home {
        font-size: 8px;
    }

    .welcome__button {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    main.home {
        font-size: 7px;
    }

    .welcome__description {
        font-size: 1rem;
    }

    .welcome__button {
        font-size: 2.3rem;
    }
}

@media (max-width: 480px) {
    main.home {
        min-height: calc(100vh - 136px);
    }
}

@media (max-width: 410px) {
    main.home {
        font-size: 6px;
    }

    .welcome {
        padding-left: 20px;
        padding-right: 20px;
    }

    .welcome__buttons {
        align-self: center;
        width: 180px;
        gap: 10px;
        flex-direction: column;
    }

    .welcome__button {
        font-size: 20px;
        padding: 12px 30px;
    }

    .authentication__title {
        font-size: 22px;
    }
}

@media (max-width: 340px) {
    .welcome__title {
        font-size: 30px;
    }

    .welcome__description {
        font-size: 18px;
    }
}
