.comments {
	margin-top: 3.2em;
	background-color: #fff;
	padding: 2.4em;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.comments__title {
	font-size: 2.4em;
}

.comments__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.comments__item {
	font-size: 1.6em;
	padding: 1.28em 0;
	border-bottom: 1px solid #eee;
}

.comments__inner {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.comments__author {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 5px;
	transition: var(--main-transition);
}

.comments__author:hover .userLink {
	color: var(--active-hover);
	text-decoration: underline;
}

.comments__author:hover .authorImg {
	box-shadow: 0 0 8px var(--active-hover);
}

.authorImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	transition: var(--main-transition);
}

.userLink {
	color: black;
	font-weight: 600;
	transition: var(--main-transition);
}
