.albumsAlbum {
    padding: 8px 15px;
    border: none;
    background-color: var(--background-el);
    border-radius: 20px;
	white-space: nowrap;
	transition: var(--main-transition);
	user-select: none;
	cursor: pointer;
}

.albumsAlbum:hover {
    background-color: var(--active-hover);
    color: #fff;
    box-shadow: 0 4px 8px rgba(42, 64, 102, 0.2);
}

.albumActive {
    background-color: var(--active-color);
    color: #fff;
	cursor: default;
}

.albumActive:hover {
	background-color: var(--active-color);
}