.posts__albums {
    display: flex;
    position: relative;
    gap: 10px;
    margin-bottom: 20px;
}

.swiperAlbums {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* .swiperAlbums:active {
	cursor: e-resize;
}

.swiperAlbums:active :hover {
	cursor: e-resize;
} */

.slideAlbum {
    width: auto;
}
