.communityTop {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	font-size: 10px;
	gap: 1em;
	column-gap: 0.5em;
	padding: 0.5em;

	.img {
		grid-row: 1 / span 2;
		margin-top: 0.8em;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		object-fit: cover;
	}

	.communityTopInfo {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	.communityTopTitle {
		font-size: 2em;
		width: 100%;
	}

	.communityTopTag {
		font-size: 1.4em;
	}

	.communityTopStats {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		.statsItem {
			display: flex;
			align-items: center;
			gap: 0.5em;
			font-size: 1.2em;
		}
	}

	.subscribeButton {
		grid-column: 2;
  		grid-row: 2;
		font-size: 1.4em;
		background-color: var(--active-color);
		color: white;
		padding: 0.5em 1.5em;
		justify-self: center;
		width: 70%;
		border-radius: 0.6em;
		cursor: pointer;
		transition: var(--main-transition);
		
		&.unscribe {
			background-color: #a52a2a;
		}

		&.unscribe:hover {
			background-color: #771e1e;
		}
	}

	.subscribeButton:hover {
		background-color: var(--active-hover);
	}
}

.copyImg {
	width: .8em;
	height: .8em;
	transition: var(--main-transition);
	cursor: pointer;
}

.copyImg:hover {
	stroke: var(--active-hover);
}

@media (min-width: 350px) {
	.communityTop {
		.img {
			width: 100px;
			height: 100px;
		}

		.subscribeButton {
			width: 55%;
		}
	}
}

@media (min-width: 400px) {
	.communityTop {
		padding: 1em;
		gap: 1.5em;

		.img {
			width: 110px;
			height: 110px;
		}
	}
}

@media (min-width: 450px) {
	.communityTop {
		.img {
			width: 140px;
			height: 140px;
		}
	}
}

@media (min-width: 500px) {
	.communityTop {
		.communityTopTitle {
			font-size: 2.8em;
		}

		.communityTopTag {
			font-size: 1.8em;
		}

		.statsText {
			font-size: 1.4em;
		}

		.statsImg {
			width: 2em;
			height: 2em;
		}

		.subscribeButton {
			font-size: 1.8em;
			border-radius: 0.7em;
		}
	}
}

@media (min-width: 550px) {
	.communityTop {
		.img {
			width: 170px;
			height: 170px;
		}

		.communityTopInfo {
			gap: 0.6em;
		}

		.communityTopTitle {
			font-size: 3.2em;
		}

		.communityTopTag {
			font-size: 2.2em;
		}

		.statsText {
			font-size: 1.4em;
		}

		.statsImg {
			width: 2.4em;
			height: 2.4em;
		}

		.communityTopStats {
			gap: 0.4em;
		}

		.subscribeButton {
			width: 11em;
		}
	}
}

@media (min-width: 600px) {
	.communityTop {
		.img {
			width: 160px;
			height: 160px;
		}

		.communityTopTitle {
			font-size: 3.6em;
		}

		.communityTopTag {
			font-size: 2.6em;
		}

		.statsText {
			font-size: 1.8em;
		}

		.statsImg {
			width: 2.8em;
			height: 2.8em;
		}

		.communityTopStats {
			gap: 2em;
			flex-direction: row;
		}
	}
}

@media (min-width: 650px) {
	.communityTop {
		grid-template-rows: 3.5fr 1fr;

		.img {
			width: 200px;
			height: 200px;
		}

		.communityTopStats {
			margin-bottom: auto;
		}
	}
}

@media (min-width: 750px) {
	.communityTop {
		display: flex;
		padding: 1.5em 3em;

		.img {
			width: 120px;
			height: 120px;
		}

		.communityTopInfo {
			padding-top: 1em;
			flex-basis: 50%;
		}

		.communityTopTitle {
			font-size: 3em;
		}

		.communityTopTag {
			font-size: 2em;
		}

		.statsText {
			font-size: 1.4em;
		}

		.statsImg {
			width: 2.4em;
			height: 2.4em;
		}

		.subscribeButton {
			flex-basis: 20%;
			align-self: center;
			margin-left: auto;
			margin-right: auto;
			padding: 0.6em 1.5em;
			transition: background-color 0.3s, color 0.3s;

			&.unscribe {
				padding: 0.6em 1.84em;
			}
		}
	}
}

@media (min-width: 850px) {
	.communityTop {
		.img {
			width: 150px;
			height: 150px;
		}

		.communityTopInfo {
			flex-basis: 50%;
		}

		.communityTopTitle {
			font-size: 3.6em;
		}

		.communityTopTag {
			font-size: 2.4em;
		}

		.statsText {
			font-size: 1.6em;
		}

		.statsImg {
			width: 2.8em;
			height: 2.8em;
		}

		.subscribeButton {
			font-size: 2em;
		}
	}
}

@media (min-width: 1000px) {
	.communityTop {
		gap: 2em;

		.img {
			width: 210px;
			height: 210px;
		}

		.communityTopInfo {
			flex-basis: 50%;
		}

		.communityTopTitle {
			font-size: 4.4em;
		}

		.communityTopTag {
			font-size: 3em;
		}

		.statsText {
			font-size: 2em;
		}

		.statsImg {
			width: 3.2em;
			height: 3.2em;
		}

		.subscribeButton {
			font-size: 2.4em;
		}
	}
}

@media (min-width: 1100px) {
	.communityTop {
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
	}

	.copyImg {
		margin-left: .2em;
		width: 1em;
		height: 1em;
	}
}
